<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UserLoginCheckWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/UserLoginCheckWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sb-admin-2.css" />
    <link rel="stylesheet" href="~/css/sb-admin-2.min.css" />
</head>
<body class="bg-gradient-primary">
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/sb-admin-2.min.js" asp-append-version="true"></script>
    <script src="~/js/FormValidations.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
