@*@model ErrorViewModel


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/UserLoginCheckWeb.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/sb-admin-2.css" />
<link rel="stylesheet" href="~/css/sb-admin-2.min.css" />
<link rel="stylesheet" href="~/css/Error.css" />*@

@*<!DOCTYPE html>
<html lang="en">*@
@*<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] </title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/UserLoginCheckWeb.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/sb-admin-2.css" />
	<link rel="stylesheet" href="~/css/sb-admin-2.min.css" />


</head>*@
@{
	ViewData["Title"] = "Error";
}
<link rel="stylesheet" href="~/css/Error.css" />
<figure>
	<div class="sad-mac"></div>
	<figcaption>
		<span class="sr-text">Error 404: Not Found</span>
		<span class="e"></span>
		<span class="r"></span>
		<span class="r"></span>
		<span class="o"></span>
		<span class="r"></span>
		<span class="_4"></span>
		<span class="_0"></span>
		<span class="_4"></span>
		<span class="n"></span>
		<span class="o"></span>
		<span class="t"></span>
		<span class="f"></span>
		<span class="o"></span>
		<span class="u"></span>
		<span class="n"></span>
		<span class="d"></span>
	</figcaption>
</figure>

@*<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>



<h3>Development Mode</h3>
<p>
	Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>
<p>
	<strong>The Development environment shouldn't be enabled for deployed applications.</strong>
	It can result in displaying sensitive information from exceptions to end users.
	For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
	and restarting the app.
</p>*@
