.bg-primary {
    background-color: #4e73df;
    background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
}

.main-heading {
    font-weight: bold;
}

.text-greeting {
    margin-bottom: 3%;
}

.transaction-card {
    margin-top: 3%
}

.text-heading {
    margin-top: 3%;
}