@model AccountDetails
@{
    ViewData["Title"] = "Add Accounts";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<link rel="stylesheet" href="~/css/AddAccounts.css" />
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
<div class="card mx-auto" style="width: 70%;">
    <div class="card-body">
        <div class="container">
            <div class="Account">
                <div class="card-body">
                    <form asp-action="AddAccount" asp-controller="Accounts" asp-route-token="@ViewBag.token" method="post" class="needs-validation" novalidate>
                        <div class="form-group">
                            <label for="account-number">Account Number:</label>
                            <input type="number" asp-for="AccountNumber" class="form-control" id="account-number" placeholder="Account Number" required />
                            <div class="invalid-feedback">
                                Account Number can't be empty
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="zip">Zip:</label>
                            <input type="number" asp-for="Zip" class="form-control" id="zip" placeholder="Zip" required />
                            <div class="invalid-feedback">
                                Zip Number can't be empty
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="due-date">Due Date:</label>
                            <input type="date" asp-for="DueDate" class="form-control" id="due-date" placeholder="Due Date" required />
                            <div class="invalid-feedback">
                                Please enter a due date
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="due-amount">Due Amount:</label>
                            <input type="number" asp-for="DueAmount" class="form-control" id="due-amount" placeholder="Due Amount" required />
                            <div class="invalid-feedback">
                                Due Amount can't be empty
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col">
                                    <label>Account Type</label>
                                    <select class="form-control" asp-for="AccountType">
                                        <option value="Electricity">Electricity</option>
                                        <option value="Water">Water</option>
                                        <option value="Mobile">Mobile</option>
                                        <option value="DTH">DTH</option>
                                        <option value="Gas">Gas</option>
                                        <option value="Broadband">Broadband</option>
                                        <option value="Metro">Metro</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <br />
                        <div class="form-group text-center">
                            <input type="submit" value="Submit" class="btn btn-primary btn-user btn-block" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/CardValidations.js"></script>

