<!--Section: FAQ-->
@{
    ViewData["Title"] = "FAQ";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<section>
    <div class="card mx-auto" style="width: 90%;">
        <div class="card-body">
    <h3 class="text-center mb-4 pb-2 text-primary text-heading fw-bold">FAQ</h3>
    <p class="text-center mb-5">
        Find the answers for the most frequently asked questions below
    </p>

    <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
                <i class="far fa-paper-plane text-primary pe-2"></i> What Payment methods are accepted?
            </h6>
            <p>
                <strong>-></strong>We accept payment through account and cards which includes VISA, Mastercard, Amex,etc.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
                <i class="fas fa-pen-alt text-primary pe-2"></i>What is the maximum payment amount accepted?
            </h6>
            <p>
                <strong>-></strong> The maximum payment limit is Rs.1,00,000 for card transactions and Rs. 50,000 for account transactions.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
                <i class="fas fa-user text-primary pe-2"></i>Can i make a same day payment?
            </h6>
            <p><strong>-> Yes</strong>, payments are credited to your account within 24 hrs.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
                <i class="fas fa-rocket text-primary pe-2"></i>How do I modify or cancel a scheduled payment?
            </h6>
            <p>
                <strong>-></strong> Yes, you can modify or cancel the payment by altering the payment info through the dashboard.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
                <i class="fas fa-home text-primary pe-2"></i>Can i add multiple accounts?
            </h6>
            <p>
                <strong>-> Yes</strong>, You can register multiple accounts for your conveinence by going to Add accounts functionality.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
                <i class="fas fa-book-open text-primary pe-2"></i>Why did my payments fail?
            </h6>
            <p>
                <strong>-></strong>If we are unable to process your payment, it is most likely due to your bank server issue or the payment gateway.
            </p>
        </div>
    </div>
        </div>
    </div>
      
</section>

<!--Section: FAQ-->